
<style>
  .embeddable-buttondown-form {
	  padding: 0;
  	  margin: 0;
  }
  input {
      background: none;
      color: #479db1;
  }
  .subscribe {
      text-transform: uppercase;
  }
  .buttondown {
	  margin-bottom: -1rem;
}
</style>

<h3 class="buttondown">Your Email &#x1F447; = My Weekly Email</h3>
<form
  action="https://buttondown.email/api/emails/embed-subscribe/nashp"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/nashp', 'popupwindow')"
  class="embeddable-buttondown-form"
>

  <label for="bd-email"></label><br>
  <input type="email" name="email" id="bd-email" />
  <input class="subscribe" type="submit" value="Subscribe" />
</form>
