<style>
  .counter-bar {
    width: 50%;
    min-width: 256px;
    overflow: hidden;
    margin: 1rem;
	background: #F5F5F5;
    border-radius: 1rem;
    height: auto;
  }
  @media (prefers-color-scheme: dark) {
    .counter-bar {
      background: #333A47;
    }
  }
</style>

<center>
<div class="counter-bar" id="countup1">
  <span class="timeel years"></span>
  <span class="timeel timeRefYears">years, </span>
  <span class="timeel days"></span>
  <span class="timeel timeRefDays">days</span>
</div>
</center>

<script>
/*
 * Basic Count Up from Date and Time
 * Based on https://guwii.com/bytes/count-date-time-javascript/
 */
window.onload = function() {
  // Month Day, Year Hour:Minute:Second, id-of-element-container
  countUpFromTime("May 23, 1986 00:00:00", 'countup1'); // ****** Change this line!
};
function countUpFromTime(countFrom, id) {
  countFrom = new Date(countFrom).getTime();
  var now = new Date(),
      countFrom = new Date(countFrom),
      timeDifference = (now - countFrom);
    
  var secondsInADay = 60 * 60 * 24 * 1000;
  var days = Math.floor(timeDifference / secondsInADay);
  // var years = ((days * 4) / 1461);
  years = Math.floor(days / 365);
  if (years > 1){ days = days - (years * 365) }

  var idEl = document.getElementById(id);
  idEl.getElementsByClassName('years')[0].innerHTML = years;
  idEl.getElementsByClassName('days')[0].innerHTML = days;

  clearTimeout(countUpFromTime.interval);
  countUpFromTime.interval = setTimeout(function(){ countUpFromTime(countFrom, id); }, 10);
}
</script>