<style>
  .icon-bar {
    width: 80%;
    max-width: 500px;
    overflow: hidden;
    align: center;
    margin: 2rem;
	background: #F5F5F5;
    border-radius: 1rem;
    height: auto;
  }
  .icon-bar a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #CCCCCC;
    font-size: 35px;
    border-bottom: none;
    background: none;
  }
  .icon-bar a:hover {
    color: #479db1;
    transform: scale(1.1);
  }
  .icon-bar a.current {
    color: #479db1;
  }
  @media (prefers-color-scheme: dark) {
    .icon-bar {
      background: #333A47;
    }
  }
</style>

<center>
  <div class="icon-bar">
    <a href="/"><i class="fa fa-house"></i></a>
	<a href="/mc"><i class="fa fa-mug-hot"></i></a>
    <a href="/photos"><i class="fa fa-camera"></i></a>
    <a href="/music"><i class="fa fa-radio"></i></a> 
<!--
	<a href="/shop"><i class="fa fa-shopping-cart"></i></a>
    <a href="/archive"><i class="fa fa-archive"></i></a>
-->
  </div>
</center>

<script>
for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL) {
        document.links[i].className = 'current';
    }
}
</script>
