<style>
	#entries li:nth-child(n+4){display: none}
</style>

<div id="entries">




	<strong><a class="menu" href="/tagged/blog">Blog</a></strong>
	<ul>
    {{#all_entries}}
		{{#tagged.blog}}
			<li><a class="menu" href="{{url}}">{{title}}</a></li>
		{{/tagged.blog}}
	{{/all_entries}}
    </ul>
    
   

	    	<strong><a class="menu" href="/tagged/photos">Photos</a></strong>
	<ul>
	{{#all_entries}}
		{{#tagged.photos}}
			<li><a class="menu" href="{{url}}">{{title}}</a></li>
		{{/tagged.photos}}
	{{/all_entries}}
    </ul>
	

    
    	<strong><a class="menu" href="/tagged/videos">Videos</a></strong>
	<ul>
	{{#all_entries}}
		{{#tagged.videos}}
			<li><a class="menu" href="{{url}}">{{title}}</a></li>
		{{/tagged.videos}}
	{{/all_entries}}
    </ul>