<style>
	#holder {
		font-size: 6em;
		width: 500px;
		height: 300px;
		margin: 0 auto;
		position: relative;
	}
	#glitch {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: url("/_assets/_gifs/glitch.gif");
		opacity: 0;
	}
</style>

<div id="holder" onmouseover="glitch()">
	<div id="glitch"></div>
</div>

<script>
	var gl = document.getElementById("glitch");
	var over = false;

	function glitch() {
		if (over == false) {
			gl.style.opacity = "1";
			setTimeout(function() {
				normal();
			}, 1500);
		}
	}

	function normal() {
		gl.style.opacity = "0"; 
	}
</script>