html, body {
	margin: 0;
	padding: 0;
}
body {
	color: #10404E;
	font: 17px / 2.0 'Electrolize', sans-serif;
	font-weight: 500;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a {
	text-decoration: none;
	color: #10404E;
	border-bottom: 3px solid #479db1;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #10404E;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 1.75rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
h2 {
	font-size: .820rem;
	text-align: left;
	padding-left: 0;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}
h3 {
	font-size: 0.786rem;
	padding-right: 2.00rem;
	padding-left: 2.00rem;
	margin-bottom: 2.2rem;
	margin-top: 2rem;
}
h4 {
	background-color: #F2F2F2;
	font-size: .720rem;
	margin-bottom: 1.20rem;
	margin-top: 1.20rem;
	padding: 1.0rem;
	border: 2px solid #479db1;
}
h5 {
	font-size: .5rem;
	margin: 1rem 2rem;
}
h5 a {
	border-bottom: 1px solid #479db1;
}
h6 {
	font-size: 0.786rem;
	padding-right: 1.00rem;
	padding-left: 1.00rem;
	color: #479db1;
	border-right: 2px dashed #479db1;
	border-left: 2px dashed #479db1;
}

/* Body text */
p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
strong {
	font-weight: 900;
	color: #479db1;
}

/* Lists */
ul,ol {
	margin-top: 0;
	margin-bottom: 0;
}
li:nth-child(-n+5) .row + .row + .row + .row {
	display: none;
	margin-bottom: 1rem;
}

/* Misc */
hr {
	position: relative;
	margin: 2rem 0;
	padding-left: 2px;
	padding-right: 2px;
	height: 1px;
	background: #D0E6EB;
	border: 0;
	opacity: 50%;
}

/* Quotes */
blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	color: #7a7a7a;
	border-left: .15rem solid #F2F2F2;
}
blockquote p:last-child {
	margin-bottom: 0;
}

/* Media */
.videoContainer {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.video {
	position: relative;
	height: 0;
	overflow: hidden;
	margin: 1em 0;
}
.videoContainer iframe, .videoContainer object {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
/* Video container layout bugfix */
a + .videoContainer, h1 + .videoContainer {
	margin-top: -1em;
}
.twitter-tweet, twitterwidget {
	max-width: 100%;
	margin: 0 auto;
}
img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	margin-top: 0;
}
.caption {
	display: block;
	margin-top: -2.7em;
	font-weight: 700;
	text-align: center;
	color: #fff;
	padding: 1rem;
	background-color: #10404E;
	margin-bottom: 2rem;
	font-size: .786rem;
	text-transform: uppercase;
}

/* Tables */
table {
	width: 100%;
	border: 2px solid #479db1;
	border-collapse: collapse;
}
td, th {
	padding: .25rem .5rem;
	border: 1px solid #479db1;
}
tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
	background-color: #fff;
}

/* * Container * * Center the page content. */
.container {
	max-width: 35rem;
	padding: 0 1rem;
	margin-top: -4.0rem;
	margin-left: auto;
	margin-right: auto;
}

/* * Posts and pages * * Each post is wrapped in `.post` and is used on default and post layouts. Each * page is wrapped in `.page` and is only used on the page layout. */
.page, .post {
	margin-bottom: 0;
}

/* Blog post or page title */
.page-title, .post-title, .post-title a {
	color: #10404E;
}
.page-title, .post-title {
	margin-top: 0;
}

/* Metadata line below post title */
.post-date {
	display: block;
	margin-top: -.5rem;
	margin-bottom: 1rem;
	color: #9a9a9a;
}

/*the search form*/
#search input {
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #10404E;
	padding: 2px 8%;
	color: #10404E;
	margin: 2px auto 0;
}
#search {
	font-size: 6vw;
	color: #10404E;
	padding: .5em 1em;
	background: 0 center/0.8em no-repeat;
	border-radius: .1em;
	width: 100%;
	box-sizing: border-box;
	margin: 6rem;
	text-transform: uppercase;
	border: 0;
}
#search:focus {
	outline: none;
	box-shadow: 0 0 0 rgba(100, 169, 226, 0.51);
}
#search {
	position: absolute;
	top: 25%;
	right: 0;
	left: 0;
	margin: auto;
	height: 50%;
	width: 65%;
}


#header {
	position: relative;
	top: 0;
}
.collapsible {
	cursor: pointer;
}
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
.fade {
	max-height: 1150px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
}
.ticker-top {
	background-color: #EE5261;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 1.8em;
	line-height: 1.8em;
	padding-bottom: -2em;
	border-bottom: 0 solid white;
	opacity: 0.8;
}
.ticker-top a {
	border-bottom: 0;
	color: #FFF;
	font-weight: 700;
	opacity: 0.9;
}
.ticker-all {
	margin-top: 2em;
	background-color: #FFF;
	border: 2px solid #479db1;
	overflow: hidden;
}
.randoms {
	max-width: 85%;
	margin-bottom: 1em;
}
.ticker-all a {
	border-bottom: 0;
}
#ticker2 {
	opacity: 0;
	transition: opacity 0.5s;
}
.journal {
	max-width: 25rem;
	padding-right: 1rem;
	padding-top: 1rem;
}
.faceit {
	position: relative;
	margin: auto;
	width: 256px;
	height: 256px;
	margin-top: 2rem;
	margin-bottom: 20px;
}
.faceit img {
	position: absolute;
}
#img2 {
	opacity: 0;
	transition: opacity 2.5s;
}
.centered {
	text-align: center;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 2rem;
}
.emoji, .menu {
	border-bottom: 0;
}

/* The Counter */
.countup {
	text-align: center;
	font-size: 0.65rem;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: -1.5rem;
	text-transform: uppercase;
}
.countup .timeel {
	display: inline-block;
	background: #10404E;
	margin: 0;
	color: #FFFFFF;
	min-width: 2.75rem;
	border-radius: 10px 0 0 10px;
}
.countup span[class*="raw"] {
	border-radius: 0 10px 10px 0;
	margin-left: 0;
	background: #479db1;
	text-align: left;
	width: 5.8rem;
	padding-left: 0.5rem;
}

/* Canvas, top form for user input */
.canvas {
	max-width: 14rem;
	margin: 0 auto;
	margin-top: -1rem;
	margin-bottom: 2rem;
	padding: 0 0.5rem;
	color: #10404E;
	border: 2px dashed #479db1;
	opacity: 0.6;
}
#message {
	width: 100%;
	max-width: 13rem;
	height: 1.1em;
	border: none;
	font-size: 1em;
}
#message::placeholder {
	color: #10404e;
	opacity: 0.6;
	font-family: 'Electrolize', sans-serif;
	font-weight: 500;
	text-align: center;
}
textarea:focus, input:focus {
	outline: none;
}
.hidden {
	display: none;
}

/* The Counter, but for posts */
.journal_time {
	font-size: 0.55rem;
	font-weight: 700;
}
.journal_time_pill {
	margin-bottom: 0rem;
	font-size: 0.786rem;
	line-height: 1.45rem;
	font-weight: 700;
	font-family: 'Electrolize', sans-serif;
	text-align: center;
	padding-right: 2.00rem;
	padding-left: 2.00rem;
	color: #479db1;
	opacity: 0.4;
	text-transform: uppercase;
	text-decoration: none;
	width: 12rem;
	margin: auto;
	margin-top: -2rem;
}
.live {
	font-size: 0.5rem;
}
.live a {
	color: #FFFFFF;
	text-decoration: underline;
}

/* Extra one-off items */
.kindle {
	font-weight: 700;
	margin-top: 2em;
	padding: 1em;
	padding-bottom: 0;
	background: #FFF;
	border: 2px solid #479db1;
	text-transform: uppercase;
}
.stacked {
	text-align: center;
	font-size: 0.786rem;
	line-height: 0.786rem;
	text-transform: uppercase;
	background: #fff;
}
#noThings {
	text-align: center;
	font-weight: 700;
	font-size: 3em;
}

/* Contribute, bottom form for membership */
.contribute {
	margin: 0 auto;
	margin-top: -1rem;
	margin-bottom: 2rem;
	padding: 0 0.5rem;
	color: #10404E;
	opacity: 0.6;
}
.contribute input[type=submit] {
	font-family: 'Electrolize', sans-serif;
	background-color: #479db1;
	border: 2px solid #479db1;
	color: #FFFFFF;
	text-decoration: none;
	padding: 4px 20px 6px 20px;
	-webkit-appearance: none;
	font-weight: 700;
}
.contribute input[type=number] {
	font-family: 'Electrolize', sans-serif;
	border-style: none;
	border: 2px dashed #479db1;
	padding: 5px 20px;
	text-align: center;
	min-width: 200px;
	color: #479db1;
}
.contribute input::placeholder {
	color: #10404e;
	font-family: 'Electrolize', sans-serif;
	font-weight: 500;
	text-align: center;
	opacity: 0.6;
}

/* Media Updates for Mobile */
@media (max-width: 600px) {
	.container p img {
		margin: 0;
		width: 100vw;
		margin-left: -1rem;
	}
	.caption {
		margin-top: 0;
	}
	.journal {
		max-width: 25rem;
		padding: 0;
	}
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		color: #F2F2F2;
		background: #10404E;
	}
	.countup .timeel {
		color: #222;
		background: #F2F2F2;
	}
	.ticker-top {
		background-color: #EE5261;
	}
	.ticker-top a {
		border-bottom: 0;
		color: #FFF;
		font-weight: 700;
		opacity: 0.8;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #479db1;
	}
	h4 a {
		color: #222;
	}
	a {
		color: #F2F2F2;
	}
	strong {
		color: #F2F2F2;
	}
	li {
		color: #F2F2F2;
	}
	.canvas {
		color: #F2F2F2;
		border: 2px dashed #F2F2F2;
	}
	#message {
		background: #10404E;
		color: #F2F2F2;
	}
	#message::placeholder {
		color: #F2F2F2;
	}
	.kindle {
		color: #F2F2F2;
		background: #10404E;
	}
	.contribute input[type=number] {
		color: #F2F2F2;
		background: #10404E;
		border: 2px dashed #F2F2F2;
	}
	.contribute input::placeholder {
		color: #F2F2F2;
	}
	.stacked {
		background: #10404E;
	}
}