html, body {
	margin: 0;
	padding: 0;
}
body {
	color: {{text_color}};
	font: 17px / 2.0 'Electrolize', sans-serif;
	font-weight: 500;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a {
	text-decoration: none;
	color: {{text_color}};
	border-bottom: 3px solid {{link_color}};
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 1.75rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
h2 {
	font-size: .820rem;
	text-align: left;
	padding-left: 0;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}
h3 {
	font-size: 0.786rem;
	padding-right: 2.00rem;
	padding-left: 2.00rem;
	margin-bottom: 2.2rem;
	margin-top: 2rem;
}
h4 {
	font-size: .720rem;
	margin-bottom: 1.20rem;
	margin-top: 1.20rem;
	padding: 1.0rem;
	border: 2px solid {{link_color}};
}
h5 {
	font-size: .5rem;
	margin: 1rem 2rem;
}
h5 a {
	border-bottom: 1px solid {{link_color}};
}
h6 {
	font-size: 0.786rem;
	padding-right: 1.00rem;
	padding-left: 1.00rem;
	color: {{link_color}};
	border-right: 2px dashed {{link_color}};
	border-left: 2px dashed {{link_color}};
}

.box_tops {
	margin-bottom: -0.75rem;
}
.top_fill {
	background: white;
	padding: 0.5rem;
}

/* Body text */
p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
strong {
	font-weight: 900;
	color: {{link_color}};
}

/* Lists */
ul,ol {
	margin-top: 0;
	margin-bottom: 0;
}
li:nth-child(-n+5) .row + .row + .row + .row {
	display: none;
	margin-bottom: 1rem;
}
.task-list {
	list-style-type: none;
	padding-inline-start: 0;
}

/* Misc */
hr {
	margin: 2rem 0;
	height: 1px;
	background: {{link_color}};
	border: 0;
	opacity:0.2;
}

/* Quotes */
blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	opacity: 0.5;
	border-left: .1rem solid {{link_color}};
}
blockquote p:last-child {
	margin-bottom: 0;
}

/************ Media ************/
.videoContainer {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.video {
	position: relative;
	height: 0;
	overflow: hidden;
	margin: 1em 0;
}
.videoContainer iframe, .videoContainer object {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
/* Video container layout bugfix */
a + .videoContainer, h1 + .videoContainer {
	margin-top: -1em;
}
.twitter-tweet, twitterwidget {
	max-width: 100%;
	margin: 0 auto;
}
img {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
	margin-top: 0;
}
.caption {
	display: block;
	margin-top: -2.7em;
	font-weight: 700;
	text-align: center;
	color: {{text_color_dark}};
	padding: 1rem;
	background-color: {{text_color}};
	margin-bottom: 2rem;
	font-size: .786rem;
	text-transform: uppercase;
}


/* Tables */
table {
	width: 100%;
	border: 2px solid {{link_color}};
	border-collapse: collapse;
}
td, th {
	padding: .25rem .5rem;
	border: 1px solid {{link_color}};
}

/* * Container * * Center the page content. */
.container {
	max-width: 35rem;
	padding: 0 1rem;
	margin-top: -4.0rem;
	margin-left: auto;
	margin-right: auto;
}


/************ Forms ************/
.form_header {
	margin-bottom: .5rem;
	margin-top: -1rem;
}
form {
	text-align: center;
	margin-bottom: 2rem;
}
input {
	font: inherit;
	text-align: center;
	padding: 3px 6px;
	margin: 0em 0;
	border: 1px solid {{link_color}};
}
input[type="text"],
 input[type="number"] {
	background: none;
	max-width: 100%;
	min-width: 300px;
	color: {{text_color}};
}
input[type="submit"] {
	padding: 3px 12px;
	color: {{link_color}};
	background: none;
	border: 1px solid {{link_color}};
	cursor: pointer;
	-webkit-appearance: none;
}
input[type="submit"]:hover {
	background: {{link_color}};
    color: white;
}
input:focus {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
	outline: none;
}
.hidden {
	display: none;
}
#numpad {
	width: 55%;
	min-width: 0;
}
.contribute {
	padding: 2em;
	padding-bottom: 0; 
	max-width: 35rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* The Search Form */
#search {
	padding: 0 1em;
	box-sizing: border-box;
	text-transform: uppercase;
	border: 0;
	position: absolute;
	top: 5rem;
	right: 0;
	left: 0;
	margin: auto;
	width: 65%;
	font-size: 6vw;
	text-align: left;	
}


/************  ************/

.collapsible {
	cursor: pointer;
}
.content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/************ Special Features ************/
/* Tickers */
.ticker-top {
	background-color: {{background_color_alt}};
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	max-height: 1.8em;
	line-height: 1.8em;
	padding-bottom: -2em;
	border-bottom: 0 solid white;
	opacity: 0.8;
}
.ticker-top a {
	border-bottom: 0;
	color: {{text_color_dark}};
	font-weight: 700;
	opacity: 0.9;
}
.randoms {
	max-width: 85%;
	margin-bottom: 1em;
}

/* The Counter */
.countup {
	text-align: center;
	font-size: 0.65rem;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: -1.5rem;
	text-transform: uppercase;
}
.countup .timeel {
	display: inline-block;
	background: {{text_color}};
	margin: 0;
	color: {{text_color_dark}};
	min-width: 2.75rem;
	border-radius: 10px 0 0 10px;
	padding-left: 0.25rem;
}
.countup span[class*="raw"] {
	border-radius: 0 10px 10px 0;
	margin-left: 0;
	background: {{link_color}};
	text-align: left;
	width: 6rem;
	padding-left: 0.5rem;
}

/* Journal Elements */
.journal {
	max-width: 25rem;
	padding-right: 1rem;
	padding-top: 1rem;
}
.journal_time {
	font-size: 0.55rem;
	font-weight: 700;
	line-height: 1.45rem;
	text-align: center;
	color: {{link_color}};
	opacity: 0.4;
	text-transform: uppercase;
	margin-top: -2rem;
}

.live {
	font-size: 0.5rem;
}
.live a {
	color: {{text_color_dark}};
	text-decoration: underline;
}

/* The Face */
.faceit {
	position: relative;
	margin: auto;
	width: 256px;
	height: 256px;
	margin-top: 2rem;
	margin-bottom: 20px;
}
.faceit img {
	position: absolute;
}
#img2 {
	opacity: 0;
	transition: opacity 2.5s;
}

/* Extra one-off items */
.fade {
	max-height: 1150px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
}
.kindle {
	font-weight: 700;
	padding: 1em;
	padding-bottom: 0;
	border: 2px solid {{link_color}};
	text-transform: uppercase;
}
.stacked {
	text-align: center;
	font-size: 0.786rem;
	line-height: 0.786rem;
	text-transform: uppercase;
}
#noThings {
	text-align: center;
	font-weight: 700;
	font-size: 3em;
}
.emoji, .menu {
	border-bottom: 0;
}
.support_form {
	padding: 1em;
	padding-bottom: 0;
	border: 2px solid {{link_color}};
	text-transform: uppercase;
}

/* Media Updates for Mobile */
@media (max-width: 600px) {
	.container p img {
		margin: 0;
		width: 100vw;
		margin-left: -1rem;
	}
	.caption {
		margin-top: 0;
	}
	.journal {
		padding: 0;
	}
	#search {
		top: 1.5rem;
	}
}


/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		color: {{text_color_dark}};
		background: {{background_color_dark}};
	}
	.countup .timeel {
		color: {{text_color}};
		background: {{text_color_dark}};
	}
	h1, h2, h3, h4, h5, h6 {
		color: {{link_color}};
	}
	a, strong, li, .kindle,
	 input[type="text"],
	  input[type="number"] {
		color: {{text_color_dark}};
	}
	.top_fill {
		background: {{background_color_dark}};
	}
}
