<div class="grid-container" id="shoptick"></div>

<script> <!-- for all items, swap 8 with "gridentries.length" -->
	var gridentries = [
		{{#all_entries}}
			{{#tagged.shop}}
				{{#thumbnail}}
					{title: "{{title}}", url: "{{url}}", thumbnail: "{{{thumbnail.medium.url}}}", date: "{{date}}"},
				{{/thumbnail}}
			{{/tagged.shop}}
		{{/all_entries}}
		];
  
  		let thumbs = [];
		for (let i = 0; i < gridentries.length; i++) {
   			if (gridentries[i].thumbnail != 0) {
       			thumbs.push(gridentries[i]);
   			}
		}

		function randomNoRepeats(array) {
  			var entry = array.slice(0);
			return function() {
		    	if (entry.length < 1) {
                	entry = array.slice(0);
                }
    			var index = Math.floor(Math.random() * entry.length);
    			var item = entry[index];
    			entry.splice(index, 1);
    			return item;
  			};
  		}

		// Pick each of the entries at random
  		var chooser = randomNoRepeats(thumbs);
        var j;
        var gridentry = [];
        var gridhtml = [];
		let text = "";
        for (j = 0; j < gridentries.length; j++) {
        	gridentry[j] = chooser();
            gridhtml[j] = '<a href="' + gridentry[j].url + '"><img src="' + gridentry[j].thumbnail + '"></a>';
            	text += '<div class="grid-item" id="rotate-grid' + [j] + '">' + gridhtml[j] + '</div>';
        }
</script>