<div id=entries>
<div>
<center><div class="randoms" id="churchrandom"></div></center>
		</div>
		</div>
<script>
	var churchentries = [
		{{#all_entries}}
		
			{{#tagged.cross church}}

				{title: "{{title}}", url: "{{url}}", date: "{{date}}"},
			
			{{/tagged.cross church}}
		
		{{/all_entries}}
		];       

				// Pick each of the entries at random
		var churchrecents = churchentries.slice(0, 5);
		var churchentry = churchentries[Math.floor(Math.random()*churchrecents.length)];
		var churchhtml = '<center><a class="menu" href="' + churchentry.url +'">' +churchentry.title +'</a></center>';

document.getElementById('churchrandom').innerHTML = churchhtml;
</script>