<div class="grid-container">
	<div class="grid-item" id="rotate-grid1">
	</div>
	<div class="grid-item" id="rotate-grid2">
	</div>
	<div class="grid-item" id="rotate-grid3">
	</div>
	<div class="grid-item" id="rotate-grid4">
	</div>
</div>

<script> <!-- for all items, swap 4 with "gridentries.length" -->
	var gridentries = [
		{{#all_entries}}
			{{#tagged.albums}}
				{{#thumbnail}}
					{title: "{{title}}", url: "{{url}}", thumbnail: "{{{thumbnail.large.url}}}", date: "{{date}}"},
				{{/thumbnail}}
			{{/tagged.albums}}
		{{/all_entries}}
		];
  
  		let thumbs = [];
		for (let i = 0; i < gridentries.length; i++) {
   			if (gridentries[i].thumbnail != 0) {
       			thumbs.push(gridentries[i]);
   			}
		}

		function randomNoRepeats(array) {
  			var entry = array.slice(0);
			return function() {
		    	if (entry.length < 1) {
                	entry = array.slice(0);
                }
    			var index = Math.floor(Math.random() * entry.length);
    			var item = entry[index];
    			entry.splice(index, 1);
    			return item;
  			};
  		}

		// Pick each of the entries at random
  		var chooser = randomNoRepeats(thumbs);
		var gridentry1 = chooser();
		var gridhtml1 = '<a href="' + gridentry1.url +'"><img src="' + gridentry1.thumbnail + '"><h3 class="name">' + gridentry1.title + '</h3></a>';
		var gridentry2 = chooser();
		var gridhtml2 = '<a href="' + gridentry2.url +'"><img src="' + gridentry2.thumbnail + '"><h3 class="name">' + gridentry2.title + '</h3></a>';
		var gridentry3 = chooser();
		var gridhtml3 = '<a href="' + gridentry3.url +'"><img src="' + gridentry3.thumbnail + '"><h3 class="name">' + gridentry3.title + '</h3></a>';
		var gridentry4 = chooser();
		var gridhtml4 = '<a href="' + gridentry4.url +'"><img src="' + gridentry4.thumbnail + '"><h3 class="name">' + gridentry4.title + '</h3></a>';


	document.getElementById('rotate-grid1').innerHTML = gridhtml1;
	document.getElementById('rotate-grid2').innerHTML = gridhtml2;
	document.getElementById('rotate-grid3').innerHTML = gridhtml3;
	document.getElementById('rotate-grid4').innerHTML = gridhtml4;
</script>