<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
.expand {
    height: 2em;
    width: 50%;
    padding: 3px;
}
</style>

<script>
$('textarea.expand').focus(function () {
    $(this).animate({ height: "4em" }, 500); 
});
</script>

<form class="canvas" action="https://formsubmit.co/nashp@me.com" method="POST">
  <textarea class="expand" id="message" rows="1" cols="10" type="text" name="message" placeholder="Send me a private message here."></textarea>
    <input class="hidden" type="submit" value="Send">
    <input class="hidden" type="hidden" name="_captcha" value="false">
    <input class="hidden" type="hidden" name="_next" value="https://nashp.com/">
</form>