<script>
	var gridentries = [
		{{#all_entries}}
			{{#tagged.shop}}
				{{#thumbnail}}
					{title: "{{title}}", url: "{{url}}", thumbnail: "{{{thumbnail.medium.url}}}", date: "{{date}}", caption: "{{metadata.caption}}", price: "{{metadata.price}}"},
				{{/thumbnail}}
			{{/tagged.shop}}
		{{/all_entries}}
		];
  
  		let thumbs = [];
		for (let i = 0; i < gridentries.length; i++) {
   			if (gridentries[i].thumbnail != 0) {
       			thumbs.push(gridentries[i]);
   			}
		}

		function randomNoRepeats(array) {
  			var entry = array.slice(0);
			return function() {
		    	if (entry.length < 1) {
                	entry = array.slice(0);
                }
    			var index = Math.floor(Math.random() * entry.length);
    			var item = entry[index];
    			entry.splice(index, 1);
    			return item;
  			};
  		}

		// Pick each of the entries at random
  		var chooser = randomNoRepeats(thumbs);
        var j;
        var gridentry = [];
        var gridhtml = [];
		let shop_shop = "";
        let shop_footer = "";
        let shop_all = "";
        for (j = 0; j < 4; j++) {
            gridentry[j] = chooser();
            gridhtml[j] = '<a href="' + gridentry[j].url + '"><img src="' + gridentry[j].thumbnail + '"></a>';
                shop_shop += '<div class="grid-item" id="rotate-grid' + [j] + '">' + gridhtml[j] + '</div>';
        }
        for (j = 4; j < 8; j++) {
            gridentry[j] = chooser();
            gridhtml[j] = '<a href="' + gridentry[j].url + '"><img src="' + gridentry[j].thumbnail + '"></a>';
                shop_footer += '<div class="grid-item" id="rotate-grid' + [j] + '">' + gridhtml[j] + '</div>';
        }
        for (j = 0; j < 2 * Math.round(gridentries.length / 2); j++) {
            gridentry[j] = chooser();
            gridhtml[j] = '<a href="' + gridentry[j].url + '"><img src="' + gridentry[j].thumbnail + '"></a>';
                shop_all += '<div class="grid-item" id="rotate-grid' + [j] + '">' + gridhtml[j] + '</div>';
        }

		const setGrid = (id, content) => {
		  	const item = document.getElementById(id)
			if (item === null) return
			item.innerHTML = content
		}

	setGrid("shopfooter", shop_footer)
	setGrid("shopshop", shop_shop)
    setGrid("shoptick", shop_all)
</script>