<h3 class="box_tops">
	<span class="top_fill">Support</span>
</h3>
<div class="support_form">

<font size="2">
			<span class="small_font">
           

<img src="https://i.imgur.com/cHvyJ7n.jpg"/>

<h3>I add things to my <a href="https://www.amazon.com/hz/wishlist/ls/2TD5VY7SNQGK9">Amazon Wish List</a> constantly. For myself to refer back to, but also for you to send gifts to support the website and the things I build. If purchased, it automatically ships to me as a surprise.</h3>


  </font>
           
         
</div>
