<script>
  var bandcamp_link_color = "479db1";
  var bandcamp_background_dark = "2F3440";
  
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.querySelectorAll('iframe[src*="https://bandcamp.com/"').forEach(function(node){node.src += '/linkcol=' + bandcamp_link_color + '/bgcol=' + bandcamp_background_dark});
  } else { 
  	document.querySelectorAll('iframe[src*="https://bandcamp.com/"').forEach(function(node){node.src += '/linkcol=' + bandcamp_link_color});
  }
</script>