<div class="countup" id="countup1">
  <span class="timeel">DAY</span>
  <span class="timeel raw"></span>
</div>

<script>
/*
 * Basic Count Up from Date and Time
 * Based on https://guwii.com/bytes/count-date-time-javascript/
 */
window.onload = function() {
  // Month Day, Year Hour:Minute:Second, id-of-element-container
  countUpFromTime("May 23, 1986 00:00:00", 'countup1'); // ****** Change this line!
};
function countUpFromTime(countFrom, id) {
  countFrom = new Date(countFrom).getTime();
  var now = new Date(),
      countFrom = new Date(countFrom),
      timeDifference = (now - countFrom);
    
  var secondsInADay = 60 * 60 * 24 * 1000;
  var days = (timeDifference / secondsInADay);
  var years = ((days * 4) / 1461);

  raw = (timeDifference / (secondsInADay) * 1).toFixed(7);

  var idEl = document.getElementById(id);
  idEl.getElementsByClassName('raw')[0].innerHTML = raw;

  clearTimeout(countUpFromTime.interval);
  countUpFromTime.interval = setTimeout(function(){ countUpFromTime(countFrom, id); }, 10);
}
</script>