<head>
	<meta charset="UTF-8">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{> title}}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{{cssURL}}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot-default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <!-- Overrride for Bigfoot Button -->
    <style>
    .bigfoot-footnote__button {
    	background-color: {{link_color}};
    }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Electrolize&family=Silkscreen">
    
	<!-- Icons -->
	{{#avatar}}
	<link rel="icon" href="{{{avatar}}}" type="image/x-icon">
	{{/avatar}}

	<!-- Feeds -->
	<link rel="alternate" type="application/rss+xml" title="RSS Feed - {{{title}}}" href="{{feedURL}}">

	<!-- Info -->
	<meta name="description" content="I'm Nash. I create things.">
	{{^entry.thumbnail.large.url}}
		<meta property="og:image" content="" />
	{{/entry.thumbnail.large.url}}
	{{#entry.thumbnail.large.url}}	
		<meta property="og:image" content="{{{entry.thumbnail.large.url}}}" />
	{{/entry.thumbnail.large.url}}
	<meta property="og:description" content="I'm Nash. I create things." />
	<meta property="og:type" content="blog">
	<meta property="og:url" content="{{{blogURL}}}{{{entry.url}}}">
	<meta property="og:site_name" content="nashp.com">
	<meta property="og:title" content="{{> title}}">


  
	   

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-3231204-5', 'auto');
		ga('send', 'pageview');
	</script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js"></script>
	<script type="text/javascript">
		$.bigfoot();
	</script>


	<style style="text/css">
		.dcountstyle {
			font: bold 16px Arial;
			padding: 3px;
		}
		.dcountstyle sup {
			font-size: 90%
		}
	</style>

	<script type="text/javascript">

	/***********************************************
	* Dynamic CountUp script- (c) Dynamic Drive (http://www.dynamicdrive.com)
	* Please keep this notice intact
	* Visit http://www.dynamicdrive.com/ for this script and 100s more.
	***********************************************/

	function dcountup(startingdate, baseunit){
		this.currentTime=new Date()
		this.startingdate=new Date(startingdate)
		this.timesup=false
		this.baseunit=baseunit
		this.start()
	}

	dcountup.prototype.oncountup=function(){} //default action for "oncountup"

	dcountup.prototype.start=function(){
		var thisobj=this
		this.currentTime.setSeconds(this.currentTime.getSeconds()+1)
		var timediff=(this.currentTime-this.startingdate)/1000 //difference btw target date and current date, in seconds
		var oneMinute=60 //minute unit in seconds
		var oneHour=60*60 //hour unit in seconds
		var oneDay=60*60*24 //day unit in seconds
		var dayfield=Math.floor(timediff/oneDay)
		var hourfield=Math.floor((timediff-dayfield*oneDay)/oneHour)
		var minutefield=Math.floor((timediff-dayfield*oneDay-hourfield*oneHour)/oneMinute)
		var secondfield=Math.floor((timediff-dayfield*oneDay-hourfield*oneHour-minutefield*oneMinute))
		if (this.baseunit=="hours"){ //if base unit is hours, set "hourfield" to be topmost level
			hourfield=dayfield*24+hourfield
			dayfield="n/a"
		}
		else if (this.baseunit=="minutes"){ //if base unit is minutes, set "minutefield" to be topmost level
			minutefield=dayfield*24*60+hourfield*60+minutefield
			dayfield=hourfield="n/a"
		}
		else if (this.baseunit=="seconds"){ //if base unit is seconds, set "secondfield" to be topmost level
			var secondfield=timediff
			dayfield=hourfield=minutefield="n/a"
		}
		var result={days: dayfield, hours:hourfield, minutes:minutefield, seconds:secondfield}
		this.oncountup(result)
		setTimeout(function(){thisobj.start()}, 1000) //update results every second
	}

	</script>


	<style>
		@import url('https://fonts.googleapis.com/css?family=Electrolize&family=Silkscreen&display=swap');
	</style>

<script type="text/javascript">
var bandcamp_link_color = "479db1";
document.querySelectorAll('iframe[src*="https://bandcamp.com/"').forEach(function(node){node.src += '/linkcol=' + bandcamp_link_color});
</script>


<meta name="theme-color" content="#FFF" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#2F3440" media="(prefers-color-scheme: dark)">

</head>
