<script type="text/javascript"> 
function date_time(id)
{
        date = new Date;
        year = date.getFullYear();
        month = date.getMonth();
        months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'Jully', 'August', 'September', 'October', 'November', 'December');
        d = date.getDate();
        day = date.getDay();
        days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
        h = date.getHours();
        ap = (h < 12) ? "<span>AM</span>" : "<span>PM</span>";
		h = (h == 0) ? 12 : h;
		h = (h > 12) ? h - 12 : h;
        
        if(h<10)
        {
                h = "0"+h;
        }
        m = date.getMinutes();
        if(m<10)
        {
                m = "0"+m;
        }
        s = date.getSeconds();
        if(s<10)
        {
                s = "0"+s;
        }
        result = days[day]+' — '+h+':'+m+':'+s+' ';
        document.getElementById(id).innerHTML = result;
        setTimeout('date_time("'+id+'");','1000');
        return true;
}
</script>
<div class="journal_time">
	<span id="date_time"></span>
	<script type="text/javascript">window.onload = date_time('date_time');</script>
</div>
 
