<div class="grid-topper">
	Thanks for <a href="/shop">shopping</a> at nashp.com.
</div>

{{> grid}}
<br>
  <div class="grid-topper">
  Over 25 <a href="/music">albums</a> recorded.
  </div>
  {{> grid-albums}}


<style>
	.grid-topper {
		font-size: .5rem;
		padding-top: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    background: #10404E;
    color: white;
	}
	.grid-topper a {
		color: white;
		border-bottom: 1px solid white;
	}
	.grid-container {
		display: grid;
		grid-template-columns: 50% 50%;
		border: 1px solid #10404E;
		grid-gap: 1px;
		background-color: #10404E;
		padding: 0;
		padding-right: 1px;
	}
	.grid-container > div {
	  background-color: white;
	}
	.grid-item img {
		width: 100%;
		height: 100%;
	}
	.grid-item:nth-child(n+5) {
		display: none
	}
	.grid-item h3 {
		display: none
	}
  




</style>