<!DOCTYPE html>





<html>
<body>

  
  
  
  
  <head>

  <style>
@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
</style>

<link href="https://fonts.googleapis.com/css?family=Electrolize&display=swap" rel="stylesheet">

<meta charset="utf-8">
    <title>{{> title}}</title>
    {{^entry.thumbnail.large.url}}
    <meta property="og:image" content="https://i.imgur.com/Vmk1Ooo.jpg" />
  	{{/entry.thumbnail.large.url}}
  	{{#entry.thumbnail.large.url}}	
  		<meta property="og:image" content="{{{entry.thumbnail.large.url}}}" />
  	{{/entry.thumbnail.large.url}}
	<meta property="og:description" 
  		content="Roman Leather: a family business" />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta property="og:type" content="blog">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{name}}'s blog" href="{{feedURL}}">

<link rel="stylesheet" href="{{{cssURL}}}">
       
       





<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-3231204-5', 'auto');
ga('send', 'pageview');

</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
<script type="text/javascript" src="//dl.dropboxusercontent.com/s/rdp9btyvhuqluf9/bigfoot.js"></script>
<link rel="stylesheet" type="text/css" href="//dl.dropboxusercontent.com/s/tn0t5bnk6letmfd/bigfoot-default.css">
<script type="text/javascript">
  $.bigfoot();
</script>


  
</head>


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        <img src="https://i.imgur.com/ZwJqEMH.jpg">

  <div class="container">

<h5><font size="3">A father and his two sons. The three of us together will bring you quality products that are built with love (and wood).<font></h5>
  


      
 
  
    

    
    
    
      <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://nashp.us4.list-manage.com/subscribe/post?u=9b6f8e7370b49fc0671bddc99&amp;id=ffddf0099d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9b6f8e7370b49fc0671bddc99_ffddf0099d" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
  
  
  
 

    
    
             


    
    
    </div>
      </body>

</html>
                



